.castContainer {
  padding: 20px;
}

.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.castItem {
  width: 200px;
  text-align: center;
}

.castImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.castName,
.castCharacter {
  margin: 10px 0 0;
}
